.stage {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    height: 100%;
}
.ops {
    margin-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 1;
}
.add {
    cursor: pointer;
}
