.header {
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.wrap {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
}
.item {
    height: 60px;
    line-height: 60px;
    display: inline-block;
}
.img {
    height: 60px;
    padding: 10px 0;
}
.menus {
    height: 50px;
    line-height: 50px;
}
.menuList {
    display: inline-block;
    float: left;
    padding-left: 20px;
    list-style: none;
}
.menuItem {
    float: left;
}
.link {
    display: block;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    color: #333;
    font-weight: 700;
}
