.item {
    position: relative;
    height: 60px;
    line-height: 60px;
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
    margin: 0 3px;
}
.headerImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 0;
}
.upload {
    position: absolute;
    opacity: 0;
    left: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
}
.dropdown {
    position: absolute;
    background-color: #d5d5d5;
    color: #191919;
    z-index: 2;
    width: 120px;
    list-style: none;
    right: 0;
    top: 60px;
}
.dropdown li {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}
.hide {
    display: none;
}
