.gallery {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ddd;
    overflow: hidden;
}
.imgs {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 1800px;
}
.left {
    height: 100%;
    position: relative;
    flex: 1;
    margin-bottom: 150px;
}
.center {
    position: relative;
    height: 100%;
    width: 780px;
}
.right {
    position: relative;
    height: 100%;
    flex: 1;
    margin-bottom: 150px;
}
.img-figure {
    position: absolute;
    width: 320px;
    height: 360px;
    padding-top: 40px;
    background-color: #fff;
    cursor: pointer;
    color: #ddd;
    transition: all 0.6s ease-in-out;
    transform-origin: 0 50% 0;
}
.img-figure.left {
    transform: translate(0,-50%);
}
.img-figure.right {
    transform: translate(-100%,-50%);
}
.title {
    text-align: center;
    margin-top: 25px;
}
.img {
    margin: auto;
    display: block;
}
.img-back {
    width: 240px;
    height: 240px;
    display: block;
    margin: auto;
    font-size: 1.2em;
}
.hide {
    display: none;
}
