.SignIn__formGroup___14jJQ {
  position: relative;
  padding-bottom: 20px; }

.SignIn__button___31ADs {
  height: 40px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #507100;
  background-color: yellowgreen; }

.SignIn__button___31ADs:hover {
  background-color: #9ad425; }
.SignUp__formGroup___16apv {
  position: relative;
  padding-bottom: 20px; }

.SignUp__button___VaIhk {
  height: 40px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #507100;
  background-color: yellowgreen; }

.SignUp__button___VaIhk:hover {
  background-color: #9ad425; }
