.viewStage {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    height: 100%;
}
.comments {
    position: relative;
    padding-left: 120px;
    margin-top: -40px;
}
