.stage {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1em;
}
.title {
    margin: 15px 0;
}
.submit {
    height: 50px;
    line-hight: 50px;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-top: 20px;
    padding: 9px 15px;
}
.button {
    outline: none;
    border: 1px solid #55da55;
    border-radius: 3px;
    padding: 7px 15px;
    float: right;
    background-color: rgb(70, 222, 67);
    cursor: pointer;
}
.button:hover {
    background-color: rgb(61, 204, 94);
}
