.link {
    background-color: rgb(0, 161, 171);
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #f2f2f2;
    cursor: pointer;
    height: 36px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: solid 1px rgb(0, 100, 113);
}
.link:hover {
    background-color: rgb(0, 175, 186);
}
